@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
}

.main-background{
    background-color:#1B1B1B;
}

.full-height{
    position:relative;
    height:100vh;
}

.logo{
    cursor: pointer;
    display:inline;
    position: fixed;
    color: white;
    font-weight:700;
    font-size:30px;
    letter-spacing: 1px;
    top: 2%;
    left: 2%;
    z-index:1
}

.back-arrow{
    cursor: pointer;
    position:fixed;
    display:inline;
    right:43%;
    top:2%;
    z-index:2;
}

#cursor{
    color: white;
    font-weight:700;
    font-size:2rem;
}

#typewriter{
    font-weight:400;
    font-size:2rem;
}

.typer{
    height:5vh;
}

.typer i{
    display:inline-block;
    height:20px;
}

.mynav{
    height:30vh;
}

.mynav li span{
    cursor:pointer;
    font-size:1.2rem;
    letter-spacing: 2px;
    padding-right:10px;
    border-right:transparent;
    transition: all 0.3s;
}

.mynav li span:hover{
    margin-right:5px;
    border-right: 10px solid white;
}

#about-content,#skills-content,#projects-content,#contact-content{
    background-color:#EFEFEF;
    position:fixed;
    width:40%;
    height:100vh;
    top:0%;
    right:0%;
    z-index:4;
}

.bio{
    letter-spacing: 1px;
    line-height: 2rem;
}

.down-btn{
    display: none;
}

#skills-content img{
    width:6rem;
}

.social img{
    width:3rem;
}

/* media queries  */

@media screen and (max-width:600px){
    .logo{
        top: 2%;
        left:3%;
    }
    .back-arrow{
        display:none;
    }

    #typewriter{
        font-size:1rem;
    }

    #cursor{
        font-size:1rem;
    }

    .mynav{
        width: 90%;
        padding: 10px !important;
    }

    .typer{
        margin-top:5px;
        height:3vh;
    }

    .mynav li span{
        font-size:1rem;
    }

    .typer i{
        font-size:1rem;
    }

    #about-content,#skills-content,#projects-content,#contact-content{
        top:0;
        left:0;
        width:100vw;
        z-index:4;
        overflow-y:auto;
        touch-action: manipulation;
    }

    .down-btn{
        display:block;
        color:black;
        font-size:3rem;
    }


    .bio{
        letter-spacing: 1px;
    }

    #skills-content img{
        width:4rem;
        margin: 3rem !important;
    }
    

}